extends ../layouts/main
block content
  
  //- include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          h1#tagline Susan Dodds Realty
          //- <span class="tm">™</span>
          h5#sub-tag-text Sub tagline goes here

  .main-content 
    .row
      h2#main-content-hl Content title
      //- h5#main-content-sub-hl 
      .gif
        .gif-wrapper
          img(class='', src='http://placehold.it/450x300')
        h6 img caption
      p 
        | Bacon ipsum dolor sit amet shankle pig short ribs kevin boudin jowl tenderloin, venison corned beef shank flank pork loin pork chop sausage salami. Chicken pork fatback, meatball leberkas venison kielbasa brisket spare ribs prosciutto chuck corned beef boudin pancetta shank. Chicken pork chop shank beef ribs chuck meatloaf. Rump pork loin shoulder, flank capicola ribeye venison pork chop strip steak hamburger porchetta chicken filet mignon landjaeger.
      p
        | Bacon ipsum dolor sit amet shankle pig short ribs kevin boudin jowl tenderloin, venison corned beef shank flank pork loin pork chop sausage salami. Chicken pork fatback, meatball leberkas venison kielbasa brisket spare ribs prosciutto chuck corned beef boudin pancetta shank. Chicken pork chop shank beef ribs chuck meatloaf. Rump pork loin shoulder, flank capicola ribeye venison pork chop strip steak hamburger porchetta chicken filet mignon landjaeger.
      p
        | Bacon ipsum dolor sit amet shankle pig short ribs kevin boudin jowl tenderloin, venison corned beef shank flank pork loin pork chop sausage salami. Chicken pork fatback, meatball leberkas venison kielbasa brisket spare ribs prosciutto chuck corned beef boudin pancetta shank. Chicken pork chop shank beef ribs chuck meatloaf. Rump pork loin shoulder, flank capicola ribeye venison pork chop strip steak hamburger porchetta chicken filet mignon landjaeger.
      .gif-mobile
        .gif-wrapper
          img(class='', src='')
        h6 mobile caption

  .sub-content
    .row
      .small-12.medium-6.columns.case-studies
        .left-img
          .grain-image
          .white-out-grain
        .content
          h5 Case-studies
          p Want to see what we do? Take a glimpse at some of our work and hear what others have to say about us.
          a(href="/projects"): img(src="/images/buttons/case-studies-small-red.png")
      .small-12.medium-6.columns.start-project
        .right-img
          .iphone-image
          .white-out-phone
        .content
          h5 Start your project with Rye
          p Text, email, phone, snail-mail, pigeon, etc. We love talking to people. Let's talk about how Rye can help you.
          a(class='typeform-share link', href='https://ryedev.typeform.com/to/wJn5Mo', data-mode="1", target="_blank"): img(src='/images/buttons/work-with-small-red.png')

 include ../includes/footer

          



