extends ../layouts/main
block content
  
  include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          h1#tagline Susan Dodds
          h5#sub-tag-text Dont' settle for a house.
          h5#sub-tag-text Fall in love with a place you call <em>home</em>. 

  .expert-section
    .row
      .small-12.columns
        .headshot
        h2 Trust a true upstate expert
        .small-12.medium-4.columns
          h5 Neighborhoods
          p 
            | A home is more than square footage and layout. The place you live is the neighborhood, the people and quality of life. From downtown condos to suburban communities and acreage, Susan has decades of local knowledge about the Upstate—a perspective you can't see through online research. <em>Call or email today to learn more</em>.
        .small-12.medium-4.columns
          h5 Schools
          p 
            | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan.  
        .small-12.medium-4.columns
          h5 Destination
          p 
            | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan.
        .small-12.columns
          h4 phone
          h4 email
          .button request info
  .listings-and-brokerage
    .row
      .small-12.medium-5.columns
        h2 Listings and Brokerage
        img(src="/images/headshot.jpeg")
      .small-12.medium-7.columns
        p 
          | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan. Typewriter Tonx flexitarian, fashion axe messenger bag Neutra 3 wolf moon seitan Banksy banh mi asymmetrical pop-up vinyl crucifix normcore. Hoodie post-ironic iPhone, PBR&B Truffaut wayfarers Vice gentrify Helvetica next level irony XOXO American Apparel drinking vinegar.

  .relocation
    .row
      .small-12.medium-5.medium-push-7.columns
        h2 Medical Relocation Services
        img(src="/images/headshot.jpeg")
      .small-12.medium-7.medium-pull-5.columns
        p
          | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan. Typewriter Tonx flexitarian, fashion axe messenger bag Neutra 3 wolf moon seitan Banksy banh mi asymmetrical pop-up vinyl crucifix normcore. Hoodie post-ironic iPhone, PBR&B Truffaut wayfarers Vice gentrify Helvetica next level irony XOXO American Apparel drinking vinegar.

  .about
    .row
      .small-12.medium-5.columns
        h2 About Susan
        img(src="/images/headshot.jpeg")
      .small-12.medium-7.columns
        p
          | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan. Typewriter Tonx flexitarian, fashion axe messenger bag Neutra 3 wolf moon seitan Banksy banh mi asymmetrical pop-up vinyl crucifix normcore. Hoodie post-ironic iPhone, PBR&B Truffaut wayfarers Vice gentrify Helvetica next level irony XOXO American Apparel drinking vinegar.

 include ../includes/footer

          



