extends ../layouts/main

block content
  
  include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          h1#tagline Susan Dodds
          h5#sub-tag-text Don't settle for a house.<br>Fall in love with a place you call <em>home</em>. 

  .expert-section
    .row
      .small-12.columns.no-padding
        .headshot
        h2 Trust a true upstate expert
        .small-12.medium-6.large-4.columns
          h5 Neighborhoods
          p 
            | A home is more than square footage and a floor plan. The place you live is the neighborhood, the people and quality of life. From downtown condos to suburban communities and acreage, Susan has decades of local knowledge about the Upstate giving you a perspective you can not see through online research.
        .small-12.medium-6.large-4.columns
          h5 Schools
          p 
            | Finding a great home doesn't mean it's zoned for great schools. Each family has different educational needs and finding the right school can make all of the difference. Having lived in many of the major school districts herself, Susan can help you find a wonderful home and the best school for your children. 
        .small-12.medium-6.end.large-4.columns
          h5 Destination Homes
          p 
            | Upstate South Carolina is surrounded by incredible natural beauty, on display in lakes, mountains and open country. If you're looking for a scenic home or second home, Susan's knowledge of the Upstate's landscape will serve as your guide to finding a gorgeous destination called home. 
    .row.expert-cta
      .small-12.columns
        h5 Susan would love to talk with you.
        h5 Call, email or request more information today.
      .small-12.column
        a(href="tel://1-864-233-7724"): h4 (864) 233-7724
        a(href="mailto:sdodds@cdanjoyner.com?subject=I'd like to connect with Susan Dodds"): h4 sdodds@cdanjoyner.com
      .small-12.column.text-center.margin-top-20
        a.button.typeform-share(href="https://susandodds.typeform.com/to/ZCyFiZ" data-mode="2" target="_blank") Request Info
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


  .services#services
    .row
      .small-12.columns.no-padding
        h2.text-center Services
        .small-12.medium-9.medium-centered.column
          p.text-center.border-line 
            | Whether you are buying, selling, or renting, you can rest assured you are taken care of with Susan's full-service representation and professionalism. 
        .small-12.medium-6.columns
          h5 Buying<span>?</span> 
          p
            | Susan will meet, listen, and assist you in finding a place to call home. She provides: 
          ul
            li Current information (updated hourly) on available properties new construction advisory services
            li Custom, real-time email notifications for each client
            li Comparable analysis for properties and neighborhoods
            li Contract scribing and negotiations
            li Inspections, contractor and closing attorney referrals
            li New construction advisory services
        .small-12.medium-6.columns
          h5 Selling<span>?</span> 
          p 
            | Selling a home doesn't have to be a difficult process, and the right realtor makes all the difference. Susan provides: 
            ul
              li Current market analysis
              li Comparable sales analysis and history
              li Comparable pricing information and history and 
              li Trusted referrals for appraisals, inspections and warranties 
              li Access to world-class staging services
        .small-12.end.columns
          h5 Renting<span>?</span> 
          p 
            | Need a temporary home or waiting to buy<span>?</span> Looking to get away and enjoy a relaxing home on one of the many mountains or lakes in the Upstate<span>?</span>  Susan will find you the right house, town home, condo, or apartment to meet your short or long term needs. Whether you are relocating temporarily, or just need a weekend away to travel and see your favorite team on the road, let Susan find you the right place so you have time to relax.

  //- .videos
  //-   iframe#visit-somewhere(src="//www.youtube.com/embed/RZqj5FrbyJY" frameborder="100" allowfullscreen)
  //-   iframe#visit-greenville(src="//www.youtube.com/embed/RZqj5FrbyJY" frameborder="0" allowfullscreen)
  
  .relocation#relocation
    .row
      .small-12.medium-5.medium-push-7.columns
        h2 Medical Relocation 
        .circle-photo
      .small-12.medium-7.medium-pull-5.columns
        p
          | Upstate South Carolina's booming healthcare economy is creating an influx of transplants to the area. Finding the right movers, temporary housing, doctors, insurance and other personal services makes relocation a daunting task. Susan is approved by all major relocation companies worldwide and with her vast network and local knowledge, she will make your transition to the area enjoyable and effortless. 

  .about#about
    .row
      .small-12.medium-5.columns
        h2 About Susan
        .circle-photo
      .small-12.medium-7.columns
        p
          | Susan has been involved with the business of real estate (residential and commercial) for over 25 years in Florida, Michigan, North Carolina and South Carolina. Growing up in a family of real estate developers, this business is in her blood and she lives for it! Susan has served on several community boards over the last 20 years and is a sustaining member of the Junior League of Greenville, where her last active placement was Community Vice President. Whether you are looking for residential, vacation homes, relocation, investments or commercial properties, Susan can assist you. 

 include ../includes/footer





