extends ../layouts/main

block content
  
  include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          h1#tagline Susan Dodds
          h5#sub-tag-text Don't settle for a house.<br>Fall in love with a place you call <em>home</em>. 

  .expert-section
    .row
      .small-12.columns.no-padding
        .headshot
        h2 Trust a true upstate expert
        .small-12.medium-6.large-4.columns
          h5 Neighborhoods
          p 
            | A home is more than square footage and layout. The place you live is the neighborhood, the people and quality of life. From downtown condos to suburban communities and acreage, Susan has decades of local knowledge about the Upstate—a perspective you can't see through online research.
        .small-12.medium-6.large-4.columns
          h5 Schools
          p 
            | Finding a great house doesn't mean it's zoned for great schools. Each family has different educational needs and finding the right place can make all of the difference. Having lived in many of the major school districts herself, Susan can help you find a wonderful home in the best place for your children. 
        .small-12.medium-6.end.large-4.columns
          h5 Destination Homes
          p 
            | Upstate South Carolina is surrounded by incredible natural beauty, on display in lakes, mountains and open country. If you're looking for a scenic home or second home, Susan's knowledge of the Upstate's landscape will serve as your guide to finding a gorgeous destination called home. 
    .row.expert-cta
      .small-12.columns
        h5 Susan would love to talk with you.
        h5 Call, email or request more information today.
      .small-12.column
        h4 (864) 555-5555
        h4 sdodds@cdanjoyner.com
      .small-12.column.text-center
        a.button.typeform-share(href="https://susandodds.typeform.com/to/ZCyFiZ" data-mode="2" target="_blank") Request Info
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


  .listings-and-brokerage#listings
    .row
      .small-12.medium-5.columns
        h2 Listings and Brokerage
        img(src="/images/banner-image-2.jpg")
      .small-12.medium-7.columns
        p 
          | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan. Typewriter Tonx flexitarian, fashion axe messenger bag Neutra 3 wolf moon seitan Banksy banh mi asymmetrical pop-up vinyl crucifix normcore. Hoodie post-ironic iPhone, PBR&B Truffaut wayfarers Vice gentrify Helvetica next level irony XOXO American Apparel drinking vinegar.

  .relocation#relocation
    .row
      .small-12.medium-5.medium-push-7.columns
        h2 Medical Relocation Services
        img(src="/images/banner-image-2.jpg")
      .small-12.medium-7.medium-pull-5.columns
        p
          | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan. Typewriter Tonx flexitarian, fashion axe messenger bag Neutra 3 wolf moon seitan Banksy banh mi asymmetrical pop-up vinyl crucifix normcore. Hoodie post-ironic iPhone, PBR&B Truffaut wayfarers Vice gentrify Helvetica next level irony XOXO American Apparel drinking vinegar.

  .about#about
    .row
      .small-12.medium-5.columns
        h2 About Susan
        img(src="/images/banner-image-2.jpg")
      .small-12.medium-7.columns
        p
          | Skateboard whatever swag, gentrify farm-to-table retro Marfa vegan distillery squid. Twee retro drinking vinegar Kickstarter flannel, lo-fi artisan Echo Park roof party. Twee cray Banksy, Tumblr Wes Anderson banjo fashion axe Williamsburg stumptown direct trade McSweeney's polaroid Kickstarter. Put a bird on it banh mi craft beer, synth farm-to-table sustainable gentrify artisan. Typewriter Tonx flexitarian, fashion axe messenger bag Neutra 3 wolf moon seitan Banksy banh mi asymmetrical pop-up vinyl crucifix normcore. Hoodie post-ironic iPhone, PBR&B Truffaut wayfarers Vice gentrify Helvetica next level irony XOXO American Apparel drinking vinegar.

 include ../includes/footer





