html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.row{
  padding: 0 2%;
  position: relative;
}

p {
  text-align: left;
}

// Main image section
.hero-banner {
  position: relative;
  width: 100%;
  height: 440px;
  background: url('/images/header-mock.jpg');
  background-size: cover;
  font-size: 1rem;

  .row {
    height: 100%;
    padding: 0 1.5%;
  }

  .overlay {
    position:absolute;
    width: 100%;
    height:100%;
    background-color:rgba(81, 20, 2, 0.57);
    z-index:1;
    padding-top: 90px;
  }

  #headline {
    width: 80%;
  }

  #sub-tag {
    width: 50%;
  }

  h1 {
    color: $white;
    line-height: 1.05em;
    margin-bottom: 6px;
    text-align: center;
  }

  h5 {
    color: $black;
    margin: 0;
  }

  .tm {
    font-size: 0.5em;
    position: relative;
    bottom: 0.7em;
  }

  a {
    span {

    color: $black;
    font-family: "CourierPrime";
    margin: 0 8px;
    font-weight: 600;
    font-size: 1em;
    border-bottom: none;
    transition: border-bottom 1.2s ease;
  
      &:hover{
        border-bottom: 3px solid $black;
        transition: border-bottom 0.2s ease;
      }
    }
  }
}

// main content section of index
.main-content {
  background: url('/images/backgrounds/paper.png');
  border-bottom: 1px solid $gray;

  h2 {
    text-transform: capitalize;
    padding-top: 30px;
    font-weight: 600;
    margin-bottom: 26px;
  }

  .gif {
    float: right;
    width: 46%;
    margin-left: 28px;
    margin-top: 6px;

    .gif-wrapper {
      margin-bottom: 8px;
      transition: all 1s ease;

      &:hover {
        box-shadow: 0px 0px 1px 1px #000;
        transform: scale(1.009);
        transition: all 0.3s ease;
      }
    }

    img {
    }

    .play-gif:hover {
      cursor: pointer;
    }

    h6 {
      text-align: center;
    }

  }

  .gif-mobile {
    .gif-wrapper {
      margin-bottom: 8px;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0px 0px 3px 1px #000;
      }

      h6 {
        text-align: center;
      }

      .play-gif:hover {
        cursor: pointer;
      }
    }
  }
}

// sub content work with and case study section
.sub-content {
  padding: 20px 30px 16px;
  height: 520px;

  .case-studies{
    padding: 0;

    .left-img {
      position: relative;

      .white-out-grain {
        display: inline-block;
        height: 30%;
        position: absolute;
        left: -30px;
        right: 0;
        bottom: 0;
        -webkit-box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.87);
        box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.87);
        z-index: 20;
      }
    }

    .grain-image {
      display: inline-block;
      background: url('/images/grain.png');
      height: 298px;
      width: 100px;
      background-size: 80px 150px;
      background-repeat: no-repeat;
      position: relative;
      bottom: 13px;
      left: -30px;
      z-index: 10;
    }

    .content{
      padding-left: 0;
      vertical-align: top;
      display: inline-block;
     
      h5 {
        margin: 10px 0 0 0;
      }

      p {
        color: $gray;
      }

      a {
        img {
          transition: all 0.3s ease;
          &:hover {
            margin-left: 6px;
          }
        }
      }
    }

  }

  .start-project {
    .content{
      vertical-align: top;
      display: inline-block;
      h5 {
        margin: 10px 0 0 0;
      }

      p {
        color: $gray;
      }
    }

    a {
      img {
        transition: all 0.3s ease;
        &:hover {
          margin-left: 6px;
        }
      }

    }

    .iphone-image {
      display: inline-block;
      background: url('/images/iphone.png');
      height: 298px;
      width: 140px;
      background-size: 140px 298px;
      position: relative;
      bottom: 24px;
    }

    .white-out-phone {
      display: inline-block;
      height: 30%;
      position: absolute;
      left: -25px;
      right: -25px;
      bottom: 0;
      z-index: 11;
      -webkit-box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.37);
      box-shadow: inset 0 -61px 27px -1px rgba(255, 255, 255, 0.37);
    }
  }
} /* end subcontent */

 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen { 
  h1, h2, h3, p {
    
  }

  .hero-banner {
    height: 150px;

    .overlay{
      padding-top: 30px; 
      .row{
        #headline {
          width: 90%;
          a {
            margin: 0 5px;
            span {
              font-family: "";
            }
          } 
        }
      }
    }
  }

  .main-content {
    padding: 4px 10px 20px;
    h2 {
      // padding-top: 0;
    }
    .gif{
      display: none;
    }

    p {
      font-size: 1.2em;
    }

    .gif-mobile {

      h6 {
        font-size: 0.9em;
        text-align: center;
      }

      img {
        margin-bottom: 6px;
      }

    }

  }

  .sub-content {
    height: 560px;
    .case-studies {
      text-align: center;

      .content {
        margin-left: 0;
        
        h5 {
          text-align: center;
        }

        p {
          width: 77%;
          text-align: center;
          margin: 0 auto;
          font-size: 1.3em;
          margin-bottom: 8px;
        }
      
      }

      .left-img {
        display: none;
      }

      h5 {
        font-size: 1.7em;
        display: inline-block;
      }
      a {

      }
    }

    .start-project {
      padding: 0;
      padding-top: 10px;
      text-align: center;

      .content {
        margin-left: 0;
        padding-left: 0;
  
        p {
          font-size: 1.3em;
          margin: 0 auto 8px;
          text-align: center;
          width: 77%;
        }
      }

      .right-img {
        display: none;
      }

      h5 {
        font-size: 1.6em;
        display: inline-block;
      }

      a {
 
      }
    }
  }
} 
// END MOBILE STYLES


// max-width 640px, mobile-only styles, use when QAing mobile issues
@media only screen and (max-width: 40em) { 
// for QAin

} 


//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
// Min-width 401px;
@media only screen and (min-width: 400px){
  .hero-banner {
    height: 220px;
    .overlay{
      padding-top: 50px;
      .row{
        #headline {
          width: 80%;
          a {
            margin: 0 8px;
          }
        }
      }
    }
  }

  .main-content {
    padding-bottom: 30px;

    h2 {
      
    }

    .gif{
      
    }

    p {
      font-size: 1.3em;
    }

    .gif-mobile {

      h6 {
       font-size: 0.9em;
       margin-top: 14px;
      }

      img {
        margin-bottom: 0;
      }

    }

  }

  .sub-content {

    .case-studies {
      .content {
        p{
          font-size: 1.3em;
        }

        h5 {
          font-size: 1.5em;
        }
      }

      a {
       
      }


      .iphone-image {
        height: 152px;
        width: 74px;
        background-size: 73px 153px;
        position: relative;
        bottom: 27px;
      }
    }

    .start-project {
      .grain-image {

      }

      .content {

        h5 {
          font-size: 1.5em;
        }

        p {
          font-size: 1.3em;
          text-align: center;
        }
        
      }

      a {
        bottom: 8px;
      }
    }
  }
}



//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 641px) { 
  .hero-banner{
    height: 400px;
    .overlay{
      padding-top: 100px;
      .row{
        #headline{
          // width: 80%;
        }
      }
    }
  }

  .cta{
    display: inline-block;
  }

  .main-content {
    padding-bottom: 40px;
    .gif{
      display: inline-block;
    }

    .gif-mobile {
      display: none;
    }

    p {
      font-size: 1.4em;
    }
  }

  .sub-content {
    height: 370px;
    padding: 20px 0 0 0 ;

    .case-studies {
      text-align: left;

      .content {
        text-align: left;

        h5 {
          margin-top: 0;
          font-size: 1.3em;
        }

        a{
          left: 0;
        }

        p {
          text-align: left;
          margin-left: 0;
          width: 290px;
        }
      }
    }

    .start-project {
      padding-top: 0;
      text-align: left;

      .content{
        text-align: left;

        h5 {
          margin-top: 0;
          font-size: 1.3em;
        }

        p {
          text-align: left;
          width: 80%;
          margin: 0;
          margin-bottom: 8px;
        }
      }
    }
  }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */





//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 1025px) { 
  .hero-banner{
    height: 400px;
    .overlay{
      .row{
      }
    }
  }

  .main-content {
    padding-bottom: 70px;

    p {
      font-size: 1.1em;
      line-height: 1.4em;
    }
  }

  .sub-content {
    padding-top: 40px;
    padding-bottom: 0;
    height: 500px;

    .case-studies {
      text-align: left;
      width: 46%;

      .left-img {
        display: inline-block;
        position: relative;
        bottom: 56px;
        z-index: -2;

        .grain-image {
          background-size: 100px 298px;
        }
      }  

      .content {
        height: 175px;
        position: relative;

        h5 {
          font-size: 1.1em;
        }

        p {
          width: 300px;
          font-size: 1.2em;
          line-height: 1.3em;
        }

        a {
          position: absolute;
          bottom: 0;
        }
      }
    }

    .start-project {
      text-align: right;
      width: 52%;

      .right-img {
        display: inline-block;
        position: relative;
        bottom: 50px;
      }

      .content {
        position: relative;
        height: 175px;
        max-width: 350px;
        padding-left: 26px;

        h5 {
          font-size: 1.1em;
        }
      
        p {
          font-size: 1.2em;
          line-height: 1.3em;
        }

        a {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

}

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */