@import "normalize";
@import "foundation";
@import "colors";
@import "buttons";
@import "header";
@import "home";
@import "footer";
@import "typography";


html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.row{
  padding: 0 6%;
  position: relative;
}

p {
  text-align: left;
}

 //  _   _   _     _   _   _   _     _              
 // | | | | | |_  (_) | | (_) | |_  (_)   ___   ___ 
 // | | | | | __| | | | | | | | __| | |  / _ \ / __|
 // | |_| | | |_  | | | | | | | |_  | | |  __/ \__ \
 //  \___/   \__| |_| |_| |_|  \__| |_|  \___| |___/
                                                 

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-border {
  border: none !important;
}

.inline-block {
  display: inline-block;
}

.spacer {
  display: inline-block;
  width: 2px;
}