extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .case-study.cowboy
      .row
        .small-12.column
          h1 Headline 1
          h5 Sub headline 1
        .small-12.medium-6.column
          p 
        .small-12.medium-6.column
          p In an industry that is constantly changing, we wanted to create a build that can hold up to the ever-evoloving landscape of the tech and venture world. A lot of care went into this project under-the-hood cleaning up and updating some of the existing code base to lay a solid foundation for future growth.
          
  