.footer
  .footer-bottom
    .row
      a(href='')
        .logo: img(src="/images/bhs-logo.png" alt="Berkshire Hathaway Home Services")
      .links
        a(href="http://www.spauldinggroup.net" target="_blank")
          img(src="/images/spaulding-logo.png")
        //- nav
        //-   ul
        //-     li: a(href="") Nav 1
        //-     .spacer
        //-     li: a(href="") Nav 2
        //-     .spacer
        //-     li: a(href="") Nav 3
        .social
          a(href="https://www.twitter.com/" target="_blank") 
            i.ss-icon.ss-social Twitter
          .spacer
          a(href="https://www.facebook.com/" target="_blank")
            i.ss-icon.ss-social Facebook
          .spacer
          a(href="mailto:.com?subject=Inquiry from our Site")
            i.ss-icon.ss-social email
        .phone-number
          a(href="tel://1-864-233-7724")
            h5 864.233.7724
  .footer-bottom-bar