.footer
  .footer-bottom
    .row
      a(href='')
        .logo: img(src="" alt="")
      .links
        nav
          ul
            li: a(href="") Nav 1
            .spacer
            li: a(href="") Nav 2
            .spacer
            li: a(href="") Nav 3
        .social
          a(href="https://www.twitter.com/" target="_blank") twitters
          .spacer
          a(href="https://www.facebook.com/" target="_blank") facebooks
          .spacer
          a(href="mailto:.com?subject=Inquiry from our Site") email
        .phone-number
          a(href="tel:+1-800-")
            h5 (800)
  .footer-bottom-bar