header.small-12
  //- .shadow
  .row
    .small-12.columns
      nav
        ul
          a(href="/#main-content-hl"): li About
          .spacer
          a(href="/#main-content-hl"): li(href="/projects") Listings
          .spacer
          a(href="/#main-content-hl"): li(href="/contact") Relocation
      


