header.small-12
  .row
    nav
      ul
        li: a(href="/#main-content-hl") Nav 1
        .spacer
        li: a(href="/projects") Nav 2
        .spacer
        li: a(href="/contact") Nav 3
    a(href='#' target="_blank"): .cta

