header.small-12
  //- .shadow
  .row
    .small-12.columns
      nav
        ul
          a(href="/#about"): li About
          .spacer
          a(href="/#services"): li(href="/projects") Services
          .spacer
          a(href="/#relocation"): li(href="/contact") Relocation
      


