header.small-12
  .shadow
  .row
    nav
      ul
        a(href="/#main-content-hl"): li About
        .spacer
        a(href="/#main-content-hl"): li(href="/projects") Listings
        .spacer
        a(href="/#main-content-hl"): li(href="/contact") Relocation


