header.small-12
  .shadow
  .row
    nav
      ul
        a(href="/#main-content-hl"): li Nav 1
        .spacer
        a(href="/#main-content-hl"): li(href="/projects") Nav 2
        .spacer
        a(href="/#main-content-hl"): li(href="/contact") Nav 3


