doctype html
html(lang="en")
  head
    title='Title'
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/main.css")
    //- link(href="../fonts/ss-social.css" rel="stylesheet")
    //- link(href="../fonts/ss-standard.css" rel="stylesheet")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="//use.typekit.net/zsa5czp.js")
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
  